body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(204,204,204);
  background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
}
.table {
  background: #FFF;
}
/* Missing from Boostrap CSS */
.caret {
  display:inline-block;
  width:0;
  height:0;
  margin-left:2px;
  vertical-align:middle;
  border-top:4px dashed;
  border-top:4px solid\9;
  border-right:4px solid transparent;
  border-left:4px solid transparent
 }
 .dropdown,
 .dropup {
  position:relative
 }
 .dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
 content:"";
 border-top:0;
 border-bottom:4px dashed;
 border-bottom:4px solid\9
}
/* Caret opacity custom defaults */
.react-bootstrap-table-sort-order .caret {
  opacity: 1;
}
.order .dropdown, .order .dropup {
  opacity: 0.4;
}
/* Extra button styling */
.form-group .btn {
  margin-right: 0.5em;
}
/* Single radio button styling for delete functionality */
.selection-cell input[type="radio"] {
  width: 100%;
}
/* Badge pill variant spacing */
.badge.badge-pill.badge-primary {
  margin-right: 0.25em;
}
/* Table column headers */
.sortable {
  vertical-align: middle !important;
}
.filter-label {
  margin-bottom: 0px !important;
}
#text-filter-column-Tags {
  background-color: #EEE;
  margin-left: 0.5em;
}
/* Dropdown styling */
.form-control.dropdown-toggle.btn.btn-secondary {
  width: max-content;
  margin-left: 0.5em;
}
/* Header and nav styling */
.navbar-nav a {
  margin-right: 0.25em;
}
.navbar {
  margin-bottom: 1em;
}
/* mainContainer styling */
.mainContainer {
  margin: 1em;
}